/*TableScore*/

.table__score {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  width: 48%;
  background-color: rgb(184, 183, 183);
}

.teams__items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.teams__item {
  font-size: 20px;
}

.teams__logo {
  width: 50px;
}

.team__name {
  font-weight: 800;
}

.results__score_line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}