.results__box {
  margin-left: 2px;
  margin-top: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  height: 150px;
  background-color: gray;
}

/*PlayersOfGameBox*/
.best__players_box {
  padding: 3px;
  height: 95%;
  width: 48%;
  background-color: rgb(247, 152, 152);
}

.game__leader_header {
  color: rgb(59, 59, 59);
}

.game__leader_txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*PlayersOfTheGame*/
.bestplayers__items {
  background-color: azure;
}

.bestplayers__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}