/*dateBox*/
.date__box {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

/*buttons*/
.buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.button {
  height: 70px;
  width: 50px;

}

/*Date*/
.date {
  font-size: 30px;
}

/*preloader*/
.preloader {
  width: 200px;
}