.item a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.item a.active {
  color: forestgreen;
}

.item a.active:hover {
  background-color: forestgreen;
  color: white;
  font-size: 23px;
  font-weight: 800;
}

.item a:hover {
  padding: 8px;
  background-color: forestgreen;
  color: white;
  font-size: 23px;
  font-weight: 800;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: all .2s ease-in-out;
}

.dropdown {
  display: none;
  position: absolute;
  top: 70px;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.item:hover .dropdown {
  display: block;
  transition: all .2s ease-in-out;
}

.item:hover .dropdown a {
  border-radius: 0;
  transition: all .2s ease-in-out;
}