.main {
  width: 100%;
  height: 70px;
  background-color: rgb(0, 0, 0);
  align-items: center;
}

.wrapper {
  margin: 0 80px;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  color: white;
}