/*ResultsConteiner*/

.results {
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 100%;
  border-top: 2px double black;
}